---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;

import dateFormat from "../utils/dateFormat";
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="blog-title">{frontmatter.title}</h1>

  <h3 class="date"><>{dateFormat(frontmatter.pubDate)}</></h3>
  <!-- <h3 class="date">{frontmatter.pubDate.toString().slice(0, 10)}</h3> -->

  <section class="main-content">
    <slot />
    <div class="all-posts">
      <a href="../../all-posts">All Posts >></a>
    </div>
  </section>
</BaseLayout>

<style>
  a {
    color: black;
    text-decoration: none;
  }

  .all-posts {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .date {
    text-align: center;
  }

  .date::after {
    content: "";
    display: block;
    height: 1px;
    width: 5.5em;
    background: #b8b8b8;
    margin: 0 auto;
  }

  @media screen and (min-width: 636px) {
    .date {
      text-align: center;
    }

    .date::after {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
    }
  }
</style>
